<meta charset="UTF-8">
<div class="modal fade" id="exampleModalLong" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Fabricante
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>


            </div>
            <div class="modal-body">

                <div class="row">
                    <form name="formFabricante" novalidate>
                        <div class="form-group col-md-12">
                            <div class="col-md-6">
                                <label for="nome" class="col-sm-6">Nome:</label> <input
                                    name="fabricanteNome" ng-model="cadastroCtrl.book.nome"
                                    required type="text" name="nome" class="form-control col-sm-10"
                                    placeholder="Informe o nome">
                            </div>
                            <div class="col-md-6"
                                 ng-show="cadastroCtrl.getFabricantes().length <= 0">
                                <label for="pais" class="col-sm-6">País:</label> <input
                                    name="fabricantePais" ng-model="cadastroCtrl.book.pais"
                                    required type="text" name="pais" class="form-control col-sm-10"
                                    placeholder="Informe o páis">
                            </div>
                        </div>
                        <div class="col-md-12 float-right" style="text-align: right">
                            <div class="form-group ">
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                       ng-click="cadastroCtrl.salvarFabricante()"
                                       ng-show="cadastroCtrl.getFabricantes().length <= 0"
                                       ng-disabled="!formFabricante.$valid" data-dismiss="modal">Cadastrar</a>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="col-md-12">
                        <div class="col-md-12" style="padding-top: 10px;">
                            <div id="vazio" class="alert alert-info" role="alert"
                                 ng-show="cadastroCtrl.getFabricantes().length <= 0">Nenhum
                                book cadastrado.
                            </div>
                            <table id="tabela" class="table table-striped "
                                   ng-show="cadastroCtrl.getFabricantes().length > 0">
                                <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>País</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="books"
                                       ng-repeat="book in cadastroCtrl.getFabricantes()">
                                <tr>
                                    <td>{{book.nome}}</td>
                                    <td>{{book.pais}}</td>
                                    <td class="text-right"><input type="radio"
                                                                  name="selecionar" ng-value="true"
                                                                  ng-model="book.selecionado"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="btn-group">
                        <a wicket:id="selecionar" class="btn btn-primary"
                           ng-click="cadastroCtrl.selecionar()" data-dismiss="modal">Selecionar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
